In [1]:
import pandas as pd

df = pd.read_csv("HR_comma_sep.csv")

df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [ ]:
df.describe()

In [25]:
df.loc[:6,'satisfaction_level']

0    0.38
1    0.80
2    0.11
3    0.72
4    0.37
5    0.41
6    0.10
Name: satisfaction_level, dtype: float64

In [31]:
df.values

array([[0.38, 0.53, 2, ..., 0, 'sales', 'low'],
       [0.8, 0.86, 5, ..., 0, 'sales', 'medium'],
       [0.11, 0.88, 7, ..., 0, 'sales', 'medium'],
       ...,
       [0.37, 0.53, 2, ..., 0, 'support', 'low'],
       [0.11, 0.96, 6, ..., 0, 'support', 'low'],
       [0.37, 0.52, 2, ..., 0, 'support', 'low']], dtype=object)

In [39]:
df.loc[:,'number_project':]

,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,2,157,3,0,1,0,sales,low
1,5,262,6,0,1,0,sales,medium
2,7,272,4,0,1,0,sales,medium
3,5,223,5,0,1,0,sales,low
4,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...
14994,2,151,3,0,1,0,support,low
14995,2,160,3,0,1,0,support,low
14996,2,143,3,0,1,0,support,low
14997,6,280,4,0,1,0,support,low
14998,2,158,3,0,1,0,support,low

In [41]:
df.sum()

satisfaction_level                                                 9191.89
last_evaluation                                                   10740.81
number_project                                                       57042
average_montly_hours                                               3015554
time_spend_company                                                   52470
Work_accident                                                         2169
left                                                                  3571
promotion_last_5years                                                  319
sales                    salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

In [45]:
df['satisfaction_level'].apply(lambda x: str(x*100) + ' %')

0        38.0 %
1        80.0 %
2        11.0 %
3        72.0 %
4        37.0 %
          ...
14994    40.0 %
14995    37.0 %
14996    37.0 %
14997    11.0 %
14998    37.0 %
Name: satisfaction_level, Length: 14999, dtype: object

In [50]:
df1 = df.groupby('satisfaction_level')

df1.size()

satisfaction_level
0.09    195
0.10    358
0.11    335
0.12     30
0.13     54
       ...
0.96    203
0.97    176
0.98    183
0.99    172
1.00    111
Length: 92, dtype: int64

NameError: name 'asd' is not defined